body{
	font-size: 16px;
	font-family: Comic Sans, Comic Sans MS, cursive;
  	color: black;
}

/*************HEADER*********************/
h1.navbar-brand{
	font-size: 2em;
}
.navbar-header button.navbar-toggle {
	margin-top: 25px;
	border: 2px solid black;
}
.navbar-header button.navbar-toggle:hover{
	border: 2px solid grey;
}
#navbar-collapse-menulist li{
	text-align: center;
	font-size: 1.2em;
}
/***************MAIN CONTENT***************/
#main-content h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5%;
}
#main-content .row{
	width: 100%;
}
#main-content .row section{
  background-color: lightgray;
  margin-bottom: 15px;
  border: 15px solid white;

  position: relative;
  overflow: hidden;
}
#main-content .row h3{
	text-align: center;
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1{ /* Restaurant name */
    padding-top: 5px;
    padding-left: 40%;
    font-size: 6vw;
  }
  #main-content .row {
	text-align: center;
	padding: 5%;
}

